@font-face {
    font-family: 'Aref_Lamsa';
    src: url('fonts/aref-lamsa.eot');
    src: url('fonts/aref-lamsa.eot?#iefix') format('embedded-opentype'),
        url('fonts/aref-lamsa.woff2') format('woff2'),
        url('fonts/aref-lamsa.woff') format('woff'),
        url('fonts/aref-lamsa.ttf')  format('truetype'),
        url('fonts/aref-lamsa.svg#Aref_Lamsa') format('svg');
}

.iq-waves-effect  , .logo-text ,
h1 , h2 , h3 , h4 , h5 ,h6 {
    font-family: 'Aref_Lamsa' !important;
}
.images-sidebar + span {
    font-size: 25px;
}
h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.7em;
}
h3{
    font-size: 1.6em;
}
h4{
    font-size: 1.5em;
}
h5{
    font-size: 1.4em;
}
h6{
    font-size: 1.2em;
}
